* {
    padding: 0;
    margin: 0;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

.section-line {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 124px;
}


.section-line ul:last-child {
    top: 60%;
}

.section-line ul li {
    height: 1px;
    position: relative;
}

.section-line ul li:nth-child(1) {
    margin-bottom: 2px;
}

.section-line ul:first-child li:nth-child(1)::before {
    content: "";
    background: #353535;
    width: 44px;
    height: 1px;
    position: absolute;
    top: 17px;
    left: 5px;
}

.section-line ul:first-child li:nth-child(1)::after {
    content: "";
    background: #353535;
    width: 44px;
    height: 1px;
    position: absolute;
    top: 17px;
    left: 75px;
}

.section-line ul li img {
    position: absolute;
    top: -10px;
    right: -38%;
}

.section-line ul:last-child li:nth-child(1)::before {
    content: "";
    background: #353535;
    width: 50px;
    height: 1px;
    position: absolute;
    top: -7px;
    left: 0px;
}

.section-line ul:last-child li:nth-child(1)::after {
    content: "";
    background: #353535;
    width: 50px;
    height: 1px;
    position: absolute;
    top: -7px;
    left: 75px;
}

/*  ============= 
  Common Css Ends
=============== */



/*  ==================
  Preloader Css Start
=================== */

.preloader {
    position: relative;
    z-index: 9999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader span:first-of-type {
    content: "";
    width: 50%;
    height: 100vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(137deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 98%);
    position: fixed;
    top: 0;
    left: 0%;
    z-index: 999;
    /* transition: all linear .5s 2.5s;
    -webkit-transition: all linear .5s 2.5s;
    -moz-transition: all linear .5s 2.5s;
    -ms-transition: all linear .5s 2.5s;
    -o-transition: all linear .5s 2.5s; */
}

.preloader span:last-of-type {
    content: "";
    width: 50%;
    height: 100vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(137deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 98%);
    position: fixed;
    top: 0;
    right: 0%;
    z-index: 999;
    /* transition: all linear .5s 2.5s;
    -webkit-transition: all linear .5s 2.5s;
    -moz-transition: all linear .5s 2.5s;
    -ms-transition: all linear .5s 2.5s;
    -o-transition: all linear .5s 2.5s; */
}

.preloader img {
    position: fixed;
    z-index: 9999999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}


/*  ================
  Preloader Css Ends
================= */



/*  ================
  Menu Bar Css Start
================= */

.menu-bg {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 60px;
    z-index: 9999;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -ms-transition: all linear .5s;
    -o-transition: all linear .5s;
}

.menu-bg .menu {
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -ms-transition: all linear .5s;
    -o-transition: all linear .5s;
}


.menu-bg .menu .logo a {
    line-height: 80px;
}

.menu-bg .menu .logo a img {
    width: 100%;
}

.menu-bg .menu .menu-list .menu-bar {
    width: 450px;
    height: 80px;
    float: left;
}

.menu-bg .menu .menu-list .menu-bar ul {
    float: left;
}

.menu-bg .menu .menu-list .menu-bar ul li {
    float: left;
    overflow: hidden;
}

.menu-bg .menu .menu-list .menu-bar ul li a {
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 80px;
    color: #fff;
    margin-right: 38px;
    position: relative;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

.menu-bg .menu .menu-list .menu-bar ul li a::after {
    content: "";
    position: absolute;
    top: 30px;
    left: -100%;
    width: 15px;
    height: 2px;
    background: #744fa0;
    display: inline-block;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}


.menu-bg .menu .menu-list .menu-bar ul li a:hover {
    color: #744fa0;
}

.menu-bg .menu .menu-list .menu-bar ul li a:hover:after {
    left: 0;
}


.menu-bg .menu .menu-list .free-trial {
    width: 120px;
    height: 80px;
    float: left;
}

.menu-bg .menu .menu-list .free-trial a {
    padding: 10px 21px;
    line-height: 80px;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background: #744fa0;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #744fa0;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

.menu-bg .menu .menu-list .free-trial a:hover {
    background: #fff;
    color: #744fa0;
    border-color: #fff;
}

.bg {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    margin: 0;
    height: 90px;
}

.bg .menu {
    margin-top: 5px;
}

/*  ===============
  Menu Bar Css Ends
================ */


/*  ===============
  Banner Css Start
================ */

.banner-bg {
    background: url(../images/banner.jpg) no-repeat center / cover;
    position: relative;
    z-index: 1;
    padding-top: 245px;
    padding-bottom: 135px;
}

.banner-bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.banner-bg .banner .banner-text {
    color: #fff;
}

.banner-bg .banner .banner-text h1 {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 56px;
    font-weight: 700;
}

.banner-bg .banner .banner-text h3 {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 300;
    color: #fff;
    padding: 5px 0 45px;
    position: relative;
}


.banner-bg .banner .banner-text h3::after {
    content: "";
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 200px;
    height: 2px;
    background: #fff;
}

.banner-bg .banner .banner-text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 60px !important;
}

.banner-bg .banner .banner-button {
    text-align: right;
}

.banner-bg .banner .banner-button a {
    padding: 5px 20px 5px 55px;
    background: #fff;
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #353535;
    text-align: left;
    position: relative;
    margin-left: 10px;
    border-radius: 5px;
    transition: all linear .2s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

.banner-bg .banner .banner-button a:hover {
    background: #744fa0;
    color: #fff;
}

.banner-bg .banner .banner-button a i {
    position: absolute;
    left: 15px;
    top: 13px;
    font-size: 33px;
}

.banner-bg .banner .banner-button a span {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: block;
}



/*  ===============
  Banner Css Ends
================ */



/*  ===============
  About Css Start
================ */

.about-bg {
    margin-top: 100px;
    margin-bottom: 60px;
}


.about-bg .about .about-text {
    text-align: center;
}


.about-bg .about .about-text h3 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
}




.about-bg .about .about-text h3 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 10px;
}


.about-bg .about .about-text p {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    padding: 25px 0px 0;
}

.about-bg .about .about-image img {
    width: 100%;
}


/*  ===============
  About Css Ends
================ */


/*  ==================
   Features Css Start
=================== */


.features-bg {
    background: #f1f1f1;
    padding-top: 55px;
    padding-bottom: 35px;
}

.features-bg .features {
    background: #f1f1f1;
}



.features-bg .features .features-heading h3 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
}

.features-bg .features .features-content {
    margin-top: 25px;
}

.features-bg .features .features-content {
    margin-top: 25px;
}

.features-item .media {
    text-align: left;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    overflow: hidden;
}

.features-item .media a i {
    padding-top: 5px;
}

.features-item .media a::after {
    content: "";
    position: absolute;
    left: -100px;
    height: 1px;
    width: 100%;
    background: #353535;
    top: 70px;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}


.features-item .media:last-child a::after {
    content: unset;
}

.features-item .media:last-child {
    border-bottom: none;
}

.features-item .media a {
    color: #353535;
    position: relative;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}


.features-item .media a:hover {
    left: 0;
}


.features-item .media a:hover::after {
    left: 0;
    background: #744fa0;
}

.features-item .media a:hover {
    color: #744fa0;
}


.features-item .media-text {
    padding-left: 10px;
}

.features-item h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.features-item p {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #555;
}

.features-item .media-text p {
    padding-top: 5px;
}



.features-item:last-child {
    text-align: right;
}

/*  ================
   Features Css Ends
================== */




/*  ===================
   Screenshot Css Start
==================== */

.screenshot-bg {
    margin: 100px 0;
}

.screenshot-bg .screenshot {
    text-align: center;
}



.screenshot-bg .screenshot .screenshot-heading h3 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 5px;
}

.screenshot-bg .screenshot .screenshot-image {
    padding-top: 45px;
    padding-bottom: 18px;
}

.screenshot-bg .screenshot .screenshot-image img {
    height: 100%;
    width: 100%;
}

.screenshot-img {
    padding: 0 15px;
    box-sizing: border-box;
}

.screenshot .slick-dots {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: -60px;
    transform: translateX(-50%);
    padding-left: 0;
}


.screenshot .slick-dots li {
    width: 20px;
    height: 20px;
    border: 3px solid #353535;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
    box-sizing: border-box;
}


.screenshot .slick-dots li button {
    font-size: 0;
    border: none;
    outline: none;
}

.screenshot .slick-dots .slick-active {
    border-color: #744fa0;
    position: relative;
}

.screenshot .slick-dots .slick-active::after {
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    background: #744fa0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

/*  ===================
   Screenshot Css Ends
===================== */

/*  ===================
   Watch Video Css Start
===================== */

.video-bg .video-heading {
    text-align: center;
}

.video-bg .video-heading h3 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 5px;
}

.video-bg .video-play {
    background: url(../images/video-section.jpg) no-repeat center / cover;
    position: relative;
    z-index: 1;
    margin-top: 56px;
    padding: 250px 0;
}

.video-bg .video-play::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}


.video-bg .video-play .video-play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.video-bg .video-play .video-play-icon i {
    color: #fff;
    cursor: pointer;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

.video-bg .video-play .video-play-icon i:hover {
    color: #744fa0;
}


/*  ===================
   Watch Video Css Ends
===================== */


/*  =====================
   Pricing Plan Css Start
====================== */


.pricing-bg {
    margin: 100px 0;
    margin-bottom: 110px !important;
}

.pricing-bg .pricing .pricing-heading {
    text-align: center;
    margin-bottom: 55px;
}

.pricing-bg .pricing .pricing-heading h3 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 5px;
}


.pricing-bg .pricing .pricing-plan .pricing-item {
    text-align: center;
    border: 1px solid #f1f1f1;
    box-sizing: border-box;
    border-radius: 20px;
    transition: all linear .2s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

.pricing-bg .pricing .pricing-plan .pricing-item:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.pricing-item .price-heading {
    background: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-sizing: border-box;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.pricing-bg .pricing .pricing-plan .pricing-item:hover .price-heading {
    background: #744fa0;
    color: #fff;
    border-color: #744fa0;
}


.pricing-item .price-heading h4 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 19px 0;
    color: #353535;
}

.pricing-bg .pricing .pricing-plan .pricing-item:hover .price-heading h4 {
    color: #fff;
}

.pricing-item .price-circle {
    border: 2px solid #f1f1f1;
    width: 120px;
    height: 120px;
    margin: 20px auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.pricing-bg .pricing .pricing-plan .pricing-item:hover .price-circle {
    border-color: #744fa0;
}

.pricing-item .price-circle h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding-top: 15px;
    color: #353535;
}

.pricing-item .price-circle h4 span {
    font-size: 47px;
}

.pricing-item .price-circle p {
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #555;
}

.pricing-item .price-text .price-content {
    margin-top: 30px;
    padding-bottom: 19px;
}

.pricing-item .price-text {
    border-top: 1px solid #f1f1f1;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #f1f1f1;
    position: relative;
}


.pricing-item .price-text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 14px;
}

.pricing-item .price-text .sign-up-button {
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.pricing-item .price-text .sign-up-button a {
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #353535;
    background: transparent;
    padding: 10px 20px;
    border: 1px solid #353535;
    border-radius: 5px;
    transition: all linear .2s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

.pricing-item:hover .price-text .sign-up-button a {
    color: #fff;
    background: #744fa0;
    border-color: #744fa0;
}


/*  =====================
   Pricing Plan Css Ends
======================= */


/*  ==============
   Team Css Start
================ */

.team {
    margin-bottom: 75px;
}

.team .team-heading {
    text-align: center;
}

.team .team-heading h3 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 5px;
}

.team .team-list {
    padding-top: 60px;
}

.team .team-list .member {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 100px;
    padding: 0 15px;
    box-sizing: border-box;
}

.team .team-list .member .member-inner {
    margin-top: 80px;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

.member-inner {
    width: 100%;
    position: relative;
}

.team .team-list .member .member-inner:hover {
    margin-top: 0;
}

.team .team-list .member .member-image {
    position: relative;
    overflow: hidden;
    border: 1px solid #f1f1f1;
    box-sizing: border-box;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 20;
}

.team .team-list .member .member-image::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 100%;
    left: 0;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}


.team .team-list .member .member-inner:hover .member-image:after {
    top: 0;
}

.team .team-list .member img {
    width: 100%;
}

.team .team-list .member .social-account {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.team .team-list .member .social-account ul {
    transform: rotate(0deg);
    transition: all linear .8s;
    opacity: 0;
    display: flex;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transition: all linear .8s;
    -moz-transition: all linear .8s;
    -ms-transition: all linear .8s;
    -o-transition: all linear .8s;
}

.team .team-list .member .member-inner:hover .social-account ul {
    transform: rotate(360deg);
    opacity: 1;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.team .team-list .member .member-image .social-account ul li {
    width: 50px;
    height: 50px;
    background: #f1f1f1;
    text-align: center;
    margin-right: 10px;
    border-radius: 50%;
    transition: all linear .4s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.team .team-list .member .social-account ul li a {
    line-height: 50px;
    color: #353535;
    font-size: 20px;
    display: block;
    border-radius: 50%;
    transition: all linear .2s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

.team .team-list .member .member-inner:hover .member-image .social-account ul li {
    opacity: 1;
}


.team .team-list .member .social-account ul li a:hover {
    background: #1da1f2;
    color: #fff;
}

.team .team-list .member .member-details {
    width: 100%;
    text-align: center;
    border: 1px solid #f1f1f1;
    border-top: none;
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    left: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
    padding: 30px 0;
}

.team .team-list .member .member-inner:hover .member-details {
    bottom: -170px;
}

.team .team-list .member .member-details h3 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 5px;
}

.team .team-list .member .member-details h5 {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
}

.team .team-list .member .member-details p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 0 12%;
}



/*  ============
   Team Css Ends
============== */


/*  =================
   Feedback Css Start
=================== */

.feedback .feedback-heading {
    text-align: center;
    margin-bottom: 55px;
}

.feedback .feedback-heading h3 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 5px;
}

.feedback .feedback-bg {
    background: url(../images/feedback-bg.jpg) no-repeat center / cover;
    position: relative;
    z-index: 1;
    padding-top: 45px;
}

.feedback .feedback-bg::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.feedback .feedback-bg .feedback-content {
    padding: 45px 0;
    padding-bottom: 0px;
}

.feedback .feedback-bg .feedback-content .feedback-text-one,
.feedback .feedback-bg .feedback-content .feedback-text-two,
.feedback .feedback-bg .feedback-content .feedback-text-three,
.feedback .feedback-bg .feedback-content .feedback-text-four {
    margin: 0 auto;
    background: #fff;
    color: #353535;
    text-align: center;
    position: relative;
    border-radius: 15px;
    margin-bottom: 25px;
    padding: 25px 65px 25px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.feedback .feedback-bg .feedback-content .feedback-text-one::after,
.feedback .feedback-bg .feedback-content .feedback-text-two::after,
.feedback .feedback-bg .feedback-content .feedback-text-three::after,
.feedback .feedback-bg .feedback-content .feedback-text-four::after {
    content: "";
    width: 38px;
    height: 38px;
    position: absolute;
    bottom: -17px;
    z-index: -1;
    background: #fff;
    border-radius: 5px;
    transform: rotate(45deg);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    left: 49%;
}

.feedback .feedback-bg .feedback-content .feedback-text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #555555;
}

.feedback .feedback-bg .feedback-content .feedback-text ul {
    display: flex;
    justify-content: center;
}

.feedback .feedback-bg .feedback-content .feedback-text ul li {
    margin-right: 5px;
}


.feedback .feedback-bg .feedback-content .feedback-text ul li:last-child {
    margin-right: 0;
}

.feedback .feedback-bg .feedback-content .feedback-text ul li a {
    color: #555;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

.feedback .feedback-bg .feedback-content .feedback-text ul li a:hover {
    color: #744fa0;
}

.feedback .feedback-bg .feedback-content .feedback-text h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
}


.feedback .feedback-bg .feedback-content .feedback-text h5 {
    font-family: 'Open Sans',
        sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.feedback .feedback-bg .feedback-content .feedback-image {}

.feedback .feedback-bg .feedback-content .feedback-image .image {
    margin: 0 auto;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedback .feedback-bg .feedback-content .feedback-image .image li {
    position: relative;
    padding: 0 15px;
    box-sizing: border-box;
}

.feedback .feedback-bg .feedback-content .feedback-image .image li:nth-child(2) {
    margin-top: 0;
}


.feedback .feedback-bg .feedback-content .feedback-image .image li:last-child {
    margin-right: 0;
}

.feedback .feedback-bg .feedback-content .feedback-image .image li img {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    transform: scale(.65);
    transition: all linear .4s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: scale(.65);
    -moz-transform: scale(.65);
    -ms-transform: scale(.65);
    -o-transform: scale(.65);
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.feedback .feedback-bg .feedback-content .feedback-image .image .slick-center img {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.feedback .feedback-bg .feedback-content .feedback-image .image li img {
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.feedback .feedback-bg .feedback-content .feedback-image .image li ::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 10;
    border-radius: 50%;
    transition: all linear .2s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

.feedback-circle {
    text-align: center;
    height: 20px;
}


.feedback-circle ul li {
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    display: inline-block;
    margin-right: 5px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    transition: all linear .2s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

.feedback .feedback-bg .feedback-content .feedback-image .feedback-circle ul li::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    background: transparent;
    border-radius: 50%;
    transition: all linear .2s;
    transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

.feedback .feedback-bg .feedback-content .feedback-image .feedback-circle ul li:nth-child(2):after {
    background: #fff;
}

.feedback .feedback-bg .feedback-content .feedback-image .feedback-circle ul li:hover {
    border-color: #744fa0;
}

.feedback .feedback-bg .feedback-content .feedback-image .feedback-circle ul li:hover:after {
    background: #744fa0;
}

.feedback .slick-dots {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: -45px;
    transform: translateX(-50%);
    padding-left: 0;
}


.feedback .slick-dots li {
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 !important;
}


.feedback .slick-dots li button {
    font-size: 0;
    border: none;
    outline: none;
}

.feedback .slick-dots .slick-active {
    border-color: #744fa0;
    position: relative;
}

.feedback .slick-dots .slick-active::after {
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    background: #744fa0 !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.feedback .slick-dots li button::after {
    background: transparent !important;
    cursor: pointer;
}

/*  ================
   Feedback Css Ends
================= */


/*  =====================
   Get in Touch Css Start
======================= */


.form {
    padding: 100px 0;
}

.form .form-heading {
    text-align: center;
    padding-bottom: 55px;
}

.form .form-heading h3 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 5px;
}

.form .form-input {
    margin-bottom: 30px;
    justify-content: space-between;
}

.form .form-input .form-item input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #353535;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.form .form-messege {
    width: 100%;
    margin-bottom: 30px;
}


.form .form-messege textarea {
    width: 100%;
    height: 200px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #353535;
    resize: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.form .form-button {
    text-align: center;
}


.form .form-button button {
    padding: 0 20px;
    line-height: 30px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    background: #744fa0;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #744fa0;
    transition: all linear .2s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

.form .form-button button:hover {
    background: transparent;
    color: #744fa0;
}


/*  =====================
   Get in Touch Css Ends
======================= */


/*  ===============
   Footer Css Start
================ */

.footer-bg {
    background: #353535;
    padding: 30px 0;
}

.footer-bg .footer {
    text-align: center;
}

.footer-bg .footer .footer-logo img {
    height: 100%;
}

.footer-bg .footer .footer-icon {
    margin: 0 auto;
    padding-top: 30px;
}

.footer-bg .footer .footer-icon ul {
    display: flex;
    justify-content: center;
}

.footer-bg .footer .footer-icon ul li {
    width: 50px;
    height: 50px;
    background: #f1f1f1;
    text-align: center;
    margin-right: 10px;
    border-radius: 50%;
    transition: all linear .4s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.footer-bg .footer .footer-icon ul li:last-child {
    margin-right: 0;
}

.footer-bg .footer .footer-icon ul li a {
    line-height: 50px;
    color: #353535;
    font-size: 20px;
    display: block;
    border-radius: 50%;
    transition: all linear .2s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

.footer-bg .footer .footer-icon ul li a:hover {
    background: #1da1f2;
    color: #fff;
}

.footer-bg .footer .footer-text {
    color: #fff;
}

.footer-bg .footer .footer-text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-top: 30px;
}


.footer-bg .footer .footer-text p a {
    color: #744fa0;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

.footer-bg .footer .footer-text p a:hover {
    color: #fff;
}

/*  ==============
   Footer Css Ends
=============== */


/* ==================
 Scroll To Top Starts
 ================= */

.scrolltop {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 99999;
    line-height: 40px;
    transition: all linear 1s;
    visibility: hidden;
    -webkit-transition: all linear 1s;
    -moz-transition: all linear 1s;
    -ms-transition: all linear 1s;
    -o-transition: all linear 1s;
}

.scrolltop img {
    width: 40px;
    height: 40px;
}

/* ================
 Scroll To Top Ends
 ================ */