* {
    padding: 0;
    margin: 0;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

.clr {
    clear: both;
}

.full-wraper {
    width: 100%;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.section-line {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 124px;
}

.section-line ul {}

.section-line ul:first-child {}

.section-line ul:last-child {
    top: 60%;
}

.section-line ul li {
    height: 1px;
    position: relative;
}

.section-line ul li:nth-child(1) {
    margin-bottom: 2px;
}

.section-line ul:first-child li:nth-child(1)::before {
    content: "";
    background: #353535;
    width: 44px;
    height: 1px;
    position: absolute;
    top: 14px;
    left: 5px;
}

.section-line ul:first-child li:nth-child(1)::after {
    content: "";
    background: #353535;
    width: 44px;
    height: 1px;
    position: absolute;
    top: 14px;
    left: 75px;
}

.section-line ul li img {
    position: absolute;
    top: -10px;
    right: -38%;
}

.section-line ul:last-child li:nth-child(1)::before {
    content: "";
    background: #353535;
    width: 50px;
    height: 1px;
    position: absolute;
    top: -8px;
    left: 0px;
}

.section-line ul:last-child li:nth-child(1)::after {
    content: "";
    background: #353535;
    width: 50px;
    height: 1px;
    position: absolute;
    top: -8px;
    left: 75px;
}


/* font-family: 'Open Sans', sans-serif;

font-family: 'Raleway', sans-serif; */

/*  ============= 
  Common Css Ends
=============== */

/* ===============
 Spacing Css Start
 ===============*/

.m-30 {
    margin: 0 30px;
}

.mr-30 {
    margin-right: 30px;
}

/* ===============
 Spacing Css Ends
 ===============*/



/*  ================
  Menu Bar Css Start
================= */

.menu-bg {
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 60px;
    z-index: 9999999;
}

.menu-bg .menu {
    height: 80px;
}

.menu-bg .menu {}

.menu-bg .menu .logo {
    width: 230px;
    height: 80px;
    float: left;
}

.menu-bg .menu .logo a {
    line-height: 80px;
}

.menu-bg .menu .logo a img {
    width: 100%;
}

.menu-bg .menu .menu-list {
    width: 560px;
    height: 80px;
    float: right;
}

.menu-bg .menu .menu-list .menu-bar {
    width: 450px;
    height: 80px;
    float: left;
}

.menu-bg .menu .menu-list .menu-bar ul {
    float: left;
}

.menu-bg .menu .menu-list .menu-bar ul li {
    float: left;
    overflow: hidden;
}

.menu-bg .menu .menu-list .menu-bar ul li a {
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 80px;
    color: #fff;
    margin-right: 38px;
    transition: all linear .2s;
    position: relative;
}

.menu-bg .menu .menu-list .menu-bar ul li a::after {
    content: "";
    position: absolute;
    top: 30px;
    left: -100%;
    width: 15px;
    height: 2px;
    background: #744fa0;
    transition: all linear .2s;
    display: inline-block;
}


.menu-bg .menu .menu-list .menu-bar ul li a:hover {
    color: #744fa0;
}

.menu-bg .menu .menu-list .menu-bar ul li a:hover:after {
    left: 0;
}


.menu-bg .menu .menu-list .free-trial {
    width: 110px;
    height: 80px;
    float: left;
}

.menu-bg .menu .menu-list .free-trial a {
    padding: 10px 21px;
    line-height: 80px;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background: #744fa0;
    border-radius: 5px;
    transition: all linear .2s;
    box-sizing: border-box;
    border: 1px solid #744fa0;
}

.menu-bg .menu .menu-list .free-trial a:hover {
    background: #fff;
    color: #744fa0;
    border-color: #fff;
}


/*  ===============
  Menu Bar Css Ends
================ */


/*  ===============
  Banner Css Start
================ */

.banner-bg {
    height: 700px;
    background: url(../images/banner.jpg) no-repeat center / cover;
    position: relative;
    z-index: 1;
}

.banner-bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.banner-bg .banner {
    height: 700px;
}

.banner-bg .banner .banner-text {
    text-align: right;
    color: #fff;
}

.banner-bg .banner .banner-text h1 {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 56px;
    font-weight: 700;
    padding-top: 220px;
}

.banner-bg .banner .banner-text h3 {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 300;
    color: #fff;
    padding: 5px 0 45px;
    position: relative;
}


.banner-bg .banner .banner-text h3::after {
    content: "";
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 200px;
    height: 2px;
    background: #fff;
}

.banner-bg .banner .banner-text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 0px 0px 55px 690px;
    text-align: right;
}

.banner-bg .banner .banner-button {
    text-align: right;
}

.banner-bg .banner .banner-button a {
    width: 190px;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px 0px 10px 55px;
    background: #fff;
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #353535;
    text-align: left;
    position: relative;
    border-radius: 5px;
    margin-left: 5px;
    transition: all linear .2s;
}

.banner-bg .banner .banner-button a:hover {
    background: #744fa0;
    color: #fff;
}

.banner-bg .banner .banner-button a i {
    position: absolute;
    left: 15px;
    top: 14px;
    font-size: 33px;
}

.banner-bg .banner .banner-button a span {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}



/*  ===============
  Banner Css Ends
================ */



/*  ===============
  About Css Start
================ */

.about-bg {
    height: 340px;
    margin: 100px 0;
}

.about-bg .about {
    height: 340px;
}


.about-bg .about .about-text {
    width: 800px;
    height: 340px;
    float: left;
    text-align: center;
}


.about-bg .about .about-text h3 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
}




.about-bg .about .about-text h3 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 10px;
}








.about-bg .about .about-text .section-line img {}

.about-bg .about .about-text p {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 25px 83px 0;
}

.about-bg .about .about-image {
    width: 370px;
    height: 340px;
    float: left;
}

.about-bg .about .about-image img {
    width: 100%;
}


/*  ===============
  About Css Ends
================ */


/*  ==================
   Features Css Start
=================== */


.features-bg {
    height: 655px;
    background: #f1f1f1;
}

.features-bg .features {
    height: 655px;
    background: #f1f1f1;
}


.features-bg .features .features-heading {}

.features-bg .features .features-heading h3 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 10px;
}

.features-bg .features .features-content {
    margin-top: 25px;
}

.features-bg .features .features-content {
    margin-top: 25px;
}

.features-item {
    width: 370px;
    height: 100%;
    float: left;
}

.features-item .media {
    text-align: left;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    overflow: hidden;
}

.features-item .media a::after {
    content: "";
    position: absolute;
    left: -100px;
    height: 1px;
    width: 100%;
    background: #353535;
    top: 74px;
    transition: all linear .2s;
}


.features-item .media:last-child a::after {
    content: "";
    height: 0px;
}

.features-item .media:last-child {
    border-bottom: none;
}

.features-item .media a {
    color: #353535;
    transition: all linear .2s;
    position: relative;
    display: block;
}


.features-item .media a:hover {
    left: 0;
}


.features-item .media a:hover::after {
    left: 0;
    background: #744fa0;
}

.features-item .media a:hover {
    color: #744fa0;
}

.features-item .media-icon {
    width: 40px;
    float: left;
    margin-top: 5px;
}

.features-item .media-icon i {}

.features-item .media-text {
    width: 330px;
    float: left;
}

.features-item h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.features-item p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.features-item .media-text p {
    padding-top: 10px;
}

.features-item img {}


.features-item:last-child {
    text-align: right;
}

.features-item:last-child h3 {
    padding-top: 70px;
    padding-bottom: 20px;
}

.features-item:last-child p {
    line-height: 20px;
    padding-bottom: 15px;
}

/*  ================
   Features Css Ends
================== */




/*  ===================
   Screenshot Css Start
==================== */

.screenshot-bg {
    height: 535px;
    margin: 100px 0;
}

.screenshot-bg .screenshot {
    height: 535px;
    text-align: center;
}


.screenshot-bg .screenshot .screenshot-heading {}

.screenshot-bg .screenshot .screenshot-heading h3 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 5px;
}

.screenshot-bg .screenshot .screenshot-image {
    padding-top: 45px;
    padding-bottom: 18px;
}

.screenshot-bg .screenshot .screenshot-image img {
    height: 100%;
}

.screenshot-bg .screenshot .screenshot-circle {}

.screenshot-bg .screenshot .screenshot-circle ul {}

.screenshot-bg .screenshot .screenshot-circle ul li {
    width: 20px;
    height: 20px;
    border: 2px solid #353535;
    display: inline-block;
    margin-right: 5px;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: all linear .2s;
}

.screenshot-bg .screenshot .screenshot-circle ul li::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    transition: all linear .2s;
}

.screenshot-bg .screenshot .screenshot-circle ul li:nth-child(3):after {
    background: #353535;
}


.screenshot-bg .screenshot .screenshot-circle ul li:hover {
    border-color: #744fa0;
}

.screenshot-bg .screenshot .screenshot-circle ul li:hover:after {
    background: #744fa0;
}

/*  ===================
   Screenshot Css Ends
===================== */

/*  ===================
   Watch Video Css Start
===================== */

.video-bg {
    height: 615px;

}

.video-bg .video-heading {
    text-align: center;
}

.video-bg .video-heading h3 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 5px;
}

.video-bg .video-play {
    height: 500px;
    background: url(../images/video-section.jpg) no-repeat center / cover;
    position: relative;
    z-index: 1;
    margin-top: 56px;
}

.video-bg .video-play::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}


.video-bg .video-play .video-play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-bg .video-play .video-play-icon i {
    color: #fff;
    cursor: pointer;
    transition: all linear .2s;
}

.video-bg .video-play .video-play-icon i:hover {
    color: #744fa0;
}


/*  ===================
   Watch Video Css Ends
===================== */


/*  =====================
   Pricing Plan Css Start
====================== */


.pricing-bg {
    height: 535px;
    margin: 100px 0;
}

.pricing-bg .pricing {
    height: 535px;
}

.pricing-bg .pricing .pricing-heading {
    text-align: center;
    margin-bottom: 55px;
}

.pricing-bg .pricing .pricing-heading h3 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 5px;
}


.pricing-bg .pricing .pricing-plan {}

.pricing-bg .pricing .pricing-plan .pricing-item {
    width: 270px;
    height: 407px;
    float: left;
    text-align: center;
    border: 1px solid #f1f1f1;
    border-radius: 20px;
    box-sizing: border-box;
    transition: all linear .2s;
}

.pricing-bg .pricing .pricing-plan .pricing-item:hover {
    transform: scale(1.05);
}

.pricing-item .price-heading {
    background: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-sizing: border-box;
    transition: all linear .4s;
}

.pricing-bg .pricing .pricing-plan .pricing-item:hover .price-heading {
    background: #744fa0;
    color: #fff;
    border-color: #744fa0;
}


.pricing-item .price-heading h4 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 19px 0;
    color: #353535;
}

.pricing-bg .pricing .pricing-plan .pricing-item:hover .price-heading h4 {
    color: #fff;
}

.pricing-item .price-circle {
    border: 1px solid #f1f1f1;
    width: 120px;
    height: 120px;
    margin: 20px auto;
    border-radius: 50%;
}


.pricing-item .price-circle h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding-top: 15px;
    color: #353535;
}

.pricing-item .price-circle h4 span {
    font-size: 47px;
}

.pricing-item .price-circle p {
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #555;
}

.pricing-item .price-text .price-content {
    margin-top: 30px;
    padding-bottom: 19px;
}

.pricing-item .price-text {
    border-top: 1px solid #f1f1f1;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #f1f1f1;
    position: relative;
}


.pricing-item .price-text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 14px;
}

.pricing-item .price-text .sign-up-button {
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
}

.pricing-item .price-text .sign-up-button a {
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #353535;
    background: transparent;
    padding: 10px 20px;
    border: 1px solid #353535;
    border-radius: 5px;
    transition: all linear .2s;
}

.pricing-item .price-text .sign-up-button a:hover {
    color: #fff;
    background: #744fa0;
    border-color: #744fa0;
}


/*  =====================
   Pricing Plan Css Ends
======================= */


/*  ==============
   Team Css Start
================ */

.team {
    height: 655px;
    margin-bottom: 100px;
}

.team .team-heading {
    height: 115px;
    text-align: center;
}

.team .team-heading h3 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 5px;
}

.team .team-list {
    height: 540px;
}

.team .team-list .member {
    width: 370px;
    height: auto;
    position: relative;
    margin-top: 80px;
    transition: all linear .2s;
    float: left;
}


.team .team-list .member:hover {
    margin-top: 0;
}

.team .team-list .member .member-image {
    position: relative;
    overflow: hidden;
    border: 1px solid #f1f1f1;
    box-sizing: border-box;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 20;
}

.team .team-list .member .member-image::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 100%;
    left: 0;
    transition: all linear .4s;
}


.team .team-list .member .member-image:hover:after {
    top: 0;
}

.team .team-list .member img {
    height: 370px;
}

.team .team-list .member .social-account {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.team .team-list .member .social-account ul {}

.team .team-list .member .member-image .social-account ul li {
    width: 50px;
    height: 50px;
    background: #f1f1f1;
    border-radius: 50%;
    text-align: center;
    float: left;
    margin-right: 10px;
    opacity: 0;
    transition: all linear .4s;
}

.team .team-list .member .social-account ul li a {
    line-height: 50px;
    color: #353535;
    font-size: 20px;
    display: block;
    border-radius: 50%;
    transition: all linear .2s;
}

.team .team-list .member .member-image:hover .social-account ul li {
    opacity: 1;
}


.team .team-list .member .social-account ul li a:hover {
    background: #1da1f2;
    color: #fff;
}

.team .team-list .member .member-details {
    text-align: center;
    height: 170px;
    border: 1px solid #f1f1f1;
    border-top: none;
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    left: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: all linear .2s;
}

.team .team-list .member:hover .member-details {
    bottom: -170px;
}

.team .team-list .member .member-details h3 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding-top: 25px;
    padding-bottom: 5px;
}

.team .team-list .member .member-details h5 {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
}

.team .team-list .member .member-details p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 0 61px;
}


/*  ============
   Team Css Ends
============== */


/*  =================
   Feedback Css Start
=================== */


.feedback {
    height: 665px;
}

.feedback .feedback-heading {
    text-align: center;
    height: 115px;
}

.feedback .feedback-heading h3 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 5px;
}

.feedback .feedback-bg {
    height: 550px;
    background: url(../images/feedback-bg.jpg) no-repeat center / cover;
    position: relative;
    z-index: 1;
}

.feedback .feedback-bg::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.feedback .feedback-bg .feedback-content {
    height: 460px;
    padding: 45px 0;
}

.feedback .feedback-bg .feedback-content .feedback-text {
    width: 800px;
    height: 220px;
    margin: 0 auto;
    border-radius: 15px;
    background: #fff;
    color: #353535;
    text-align: center;
    position: relative;
}


.feedback .feedback-bg .feedback-content .feedback-text::after {
    content: "";
    width: 38px;
    height: 38px;
    border-radius: 5px;
    position: absolute;
    bottom: -17px;
    transform: rotate(45deg);
    left: 381px;
    background: #fff;
}

.feedback .feedback-bg .feedback-content .feedback-text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #555555;
    padding: 25px 65px 25px;
}

.feedback .feedback-bg .feedback-content .feedback-text ul {
    width: 90px;
    height: 20px;
    margin: 0 auto;
}

.feedback .feedback-bg .feedback-content .feedback-text ul li {
    float: left;
    margin-right: 5px;
}


.feedback .feedback-bg .feedback-content .feedback-text ul li:last-child {
    margin-right: 0;
}

.feedback .feedback-bg .feedback-content .feedback-text ul li a {
    color: #555;
    transition: all linear .2s;
}

.feedback .feedback-bg .feedback-content .feedback-text ul li a:hover {
    color: #744fa0;
}

.feedback .feedback-bg .feedback-content .feedback-text h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
}


.feedback .feedback-bg .feedback-content .feedback-text h5 {
    font-family: 'Open Sans',
        sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.feedback .feedback-bg .feedback-content .feedback-image {
    height: 240px;
}

.feedback .feedback-bg .feedback-content .feedback-image .image {
    width: 470px;
    height: 170px;
    margin: 0 auto;
    padding-top: 50px;
}

.feedback .feedback-bg .feedback-content .feedback-image .image li {
    float: left;
    margin-right: 60px;
    position: relative;
    margin-top: 25px;
}

.feedback .feedback-bg .feedback-content .feedback-image .image li:nth-child(2) {
    margin-top: 0;
}


.feedback .feedback-bg .feedback-content .feedback-image .image li:last-child {
    margin-right: 0;
}

.feedback .feedback-bg .feedback-content .feedback-image .image li a {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.feedback .feedback-bg .feedback-content .feedback-image .image li a img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 1;
}

.feedback .feedback-bg .feedback-content .feedback-image .image li a::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 10;
    border-radius: 50%;
    transition: all linear .2s;
}

.feedback .feedback-bg .feedback-content .feedback-image .image li a:hover:after {
    left: 0;
}

.feedback-circle {
    text-align: center;
    height: 20px;
}

.feedback-circle ul {}

.feedback-circle ul li {
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    display: inline-block;
    margin-right: 5px;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: all linear .2s;
}

.feedback .feedback-bg .feedback-content .feedback-image .feedback-circle ul li::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    transition: all linear .2s;
}

.feedback .feedback-bg .feedback-content .feedback-image .feedback-circle ul li:nth-child(2):after {
    background: #fff;
}

.feedback .feedback-bg .feedback-content .feedback-image .feedback-circle ul li:hover {
    border-color: #744fa0;
}

.feedback .feedback-bg .feedback-content .feedback-image .feedback-circle ul li:hover:after {
    background: #744fa0;
}


/*  ================
   Feedback Css Ends
================= */


/*  =====================
   Get in Touch Css Start
======================= */


.form {
    height: 460px;
    padding: 100px 0;
}

.form .form-heading {
    height: 115px;
    text-align: center;
}

.form .form-heading h3 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 5px;
}

.form .form-input {
    height: 50px;
    margin-bottom: 30px;
}

.form .form-input .form-item {
    width: 370px;
    height: 100%;
    float: left;
}

.form .form-input .form-item input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid #353535;
}

.form .form-messege {
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
}


.form .form-messege textarea {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #353535;
    resize: none;
}

.form .form-button {
    height: 35px;
    text-align: center;
}


.form .form-button button {
    padding: 0 20px;
    line-height: 33px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    background: #744fa0;
    color: #fff;
    border: 1px solid #744fa0;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    transition: all linear .2s;
}

.form .form-button button:hover {
    background: transparent;
    color: #744fa0;
    /* border-color: ; */
}


/*  =====================
   Get in Touch Css Ends
======================= */


/*  ===============
   Footer Css Start
================ */

.footer-bg {
    height: 255px;
    background: #353535;
}

.footer-bg .footer {
    height: 255px;
    text-align: center;
}

.footer-bg .footer .footer-logo {
    height: 75px;
    padding-top: 30px;
}

.footer-bg .footer .footer-logo img {
    height: 100%;
}

.footer-bg .footer .footer-icon {
    height: 50px;
    width: 290px;
    margin: 0 auto;
    padding-top: 30px;
}

.footer-bg .footer .footer-icon ul {}

.footer-bg .footer .footer-icon ul li {
    width: 50px;
    height: 50px;
    background: #f1f1f1;
    border-radius: 50%;
    text-align: center;
    float: left;
    margin-right: 10px;
    transition: all linear .4s;
}

.footer-bg .footer .footer-icon ul li:last-child {
    margin-right: 0;
}

.footer-bg .footer .footer-icon ul li a {
    line-height: 50px;
    color: #353535;
    font-size: 20px;
    display: block;
    border-radius: 50%;
    transition: all linear .2s;
}

.footer-bg .footer .footer-icon ul li a:hover {
    background: #1da1f2;
    color: #fff;
}

.footer-bg .footer .footer-text {
    height: 70px;
    color: #fff;
}

.footer-bg .footer .footer-text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-top: 30px;
}


.footer-bg .footer .footer-text p a {
    color: #744fa0;
    transition: all linear .2s;
}

.footer-bg .footer .footer-text p a:hover {
    color: #fff;
}

/*  ==============
   Footer Css Ends
=============== */